__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pym
*.pdb

venv/
.venv/
env/
.env/

.ipynb_checkpoints/


*.log
*.tmp
*.swp

.DS_Store
Thumbs.db

.vscode/
.idea/

/data/raw/
/data/processed/
/*.csv
/*.json